@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');

:root {
  /* Colors */
  --grey-900: #212121;
  --grey-800: #424242;
  --grey-700: #616161;
  --grey-600: #757575;
  --grey-500: #9E9E9E;
  --grey-400: #BDBDBD;
  --grey-300: #E0E0E0;
  --grey-200: #EEEEEE;
  --grey-100: #F5F5F5;
  --grey-50: #FAFAFA;
  --primary-900: #0D47A1;
  --primary-800: #1565C0;
  --primary-700: #1976D2;
  --primary-600: #1E88E5;
  --primary-500: #2196F3;
  --primary-400: #42A5F5;
  --primary-300: #64B5F6;
  --primary-200: #90CAF9;
  --primary-100: #BBDEFB;
  --primary-50: #E3F2FD;
  --primary-text: #FFFFFF;
  --error-900: #B71C1C;
  --error-800: #C62828;
  --error-700: #D32F2F;
  --error-600: #E53935;
  --error-500: #F44336;
  --error-400: #EF5350;
  --error-300: #E57373;
  --error-50: #FFEBEE;
  --error-text: #FFFFFF;
  --bg: #FFFFFF;
  --bg-50: #ECEFF1;
  --text-900: #212121;
  --text-800: #424242;
  --text-700: #616161;
  --text-600: #757575;
  --text-500: #9E9E9E;
  --text-400: #BDBDBD;
  --text-300: #E0E0E0;
  --text-200: #EEEEEE;
  --text-100: #F5F5F5;
  --text-50: #FAFAFA;
  /* Shadows */
  --shadow-small: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --shadow-med: 0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.2);
  --shadow-large: 0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2);
  /* Dimensions */
  --nav-height: 50px;
  --content-height: calc(100vh - var(--nav-height));
  --index-col-width: 4rem;
  --header-row-height: 2rem;
  --col-width: 6rem;
  --row-height: 5rem;
  --select-width: var(--col-width);
  --select-collapse-width: 0.5em;
  --select-join-width: calc(var(--col-width) - var(--select-collapse-width));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  position: relative;
  width: 100%;
  margin: 0;
  background-color: var(--bg-50);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

div, span {
  box-sizing: border-box;
}

#sapper {
  width: 100%;
  margin: 0;
  color: #333;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
  font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

/* Main Content */
.main-content {
  width: 100%;
  overflow-x: hidden;
}

.main-content.fixed-height {
  height: var(--content-height);
}

.main-content.grid {
  display: grid;
  padding: 0.5rem;
}

.main-content.grid > div {
  margin: 0.5rem;
}

/* Card */
.card {
  border-radius: 5px;
  background-color: var(--bg);
  border: 1px solid transparent;
}

.card.outline {
  border-radius: 5px;
  transition: border 0.2s ease;
}

.card.outline.error {
  border: 1px var(--error-500) solid;
}

.card.padded {
  padding: 0.8rem;
}

.tip {
  color: var(--text-500);
  margin: 0.5rem 0 0;
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 400;
}

/* Picker */
.cell {
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Utility */
.no-highlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}

a {
  color: rgb(0,100,200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0,80,160);
}

label {
  display: block;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
}

input:disabled {
  color: #ccc;
}

button:focus {
  outline: none;
}