:root {
  /* Colors */
  --text-0: #333;
  --text-1: #555;
  --text-2: #777;
  --text-3: #AAA;
  --primary-1-0: #4E90CD;
  --primary-1: #62B2F2;
  --primary-1-1: #75C1F5;
  --primary-2: #E0FBFC;
  --error-0: #E57373;
  --line-0: #888;
  --line-1: #cacaca;
  --line-2: #eee;
  --disabled-shade: #efefef;
  --background-0: #ffffff;
  --background-1: #fafafa;
  --background-2: #f0f0f0;
  /* Shadows */
  --shadow-small: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --shadow-med: 0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.2);
  --shadow-large: 0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2);
  --ease-out-sharp: cubic-bezier(0.3, 0.03, 0.1, 0.97);
  /* Dimensions */
  --nav-height: 50px;
  --content-height: calc(100vh - var(--nav-height));
  --index-col-width: 4rem;
  --header-row-height: 2rem;
  --col-width: 6rem;
  --row-height: 5rem;
  --select-width: var(--col-width);
  --select-collapse-width: 0.5em;
  --select-join-width: calc(var(--col-width) - var(--select-collapse-width));
}

html, body {
  position: relative;
  width: 100%;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

div, span {
  box-sizing: border-box;
}

#sapper {
  width: 100%;
  margin: 0;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* Main Content */
.main-content {
  width: 100%;
  overflow-x: hidden;
}

.main-content.fixed-height {
  position: absolute;
  height: var(--content-height);
  box-sizing: border-box;
  background-color: var(--background-1);
}

.main-content.grid {
  display: grid;
  padding: 0.5rem;
}

.main-content.grid > div {
  margin: 0.5rem;
}

/* Card */
.card {
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
}

.card.outline {
  box-shadow: unset;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px var(--line-1) solid;
  background-color: var(--background-0);
  transition: border 0.2s ease;
}

.card.outline.error {
  border: 1px var(--error-0) solid;
}

.card.padded {
  padding: 0.8rem;
}

/* Picker */
.cell {
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Utility */
.no-highlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}

a {
  color: rgb(0,100,200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0,80,160);
}

label {
  display: block;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}