:root {
  --text-0: #333;
  --text-1: #555;
  --text-2: #777;
  --text-3: #AAA;
  --primary-0: #3D5A80;
  --primary-1-0: #4E90CD;
  --primary-1: #62B2F2;
  --primary-1-1: #75C1F5;
  --primary-2: #E0FBFC;
  --line-0: #888;
  --line-1: #cacaca;
  --line-2: #eee;
  --box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#sapper {
  width: 100%;
  height: 100%;
}

@media (min-width: 900px) {
  main {
    max-width: 900px;
    margin: auto;
  }
}

.page {
  width: 100%;
  height: 100%;
}

.card {
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
}

a {
  color: rgb(0,100,200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0,80,160);
}

label {
  display: block;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}
