@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='text'] {
    @apply min-w-0 px-4 py-2 focusable;
  }
}

@layer components {
  .card {
    @apply shadow-md rounded-xl;
    &[tabindex='0'] {
      @apply cursor-pointer transition-shadow focusable;
      @apply hover:shadow-lg focus:shadow-lg active:shadow;
    }
  }
}

@layer utilities {
  .focusable {
    @apply ring-primary-lighter focus:ring focus:outline-none;
  }
}
